<button class="btn btn-succes" data-bs-toggle="offcanvas"  style="margin-top: 100px;" data-bs-target="#intro">presiona</button>
<div class="offcanvas offcanvas-start" id="intro">
    <div class="offcanvas-header">
        <div class="offcanvas-title">
            <div id="close-btn">
                <i class="fas fa-times"></i>
              </div>

        </div>
     
    </div>
        
    <div class="profile" style="margin: auto;">
        <img src="../../../assets/html-demo/desgin/images/pic-1.jpg" class="image" alt=""/>
        <h3 class="name" style="margin-left: 0">Francis</h3>
        <p class="role" style="margin-left: 0">Student</p>
        <a href="../../../assets/html-demo/desgin/profile.html" style="margin: 0;" class="btn">view profile</a>
      </div>
    <div class="offcanvas-body">
        
        <a href="index.html" class="row" > <span style="display: inline-block;">Home</span><img style="display: inline-block;" class="img" src="../../../assets/html-demo/desgin/images/iconbarnav/hebreo.png" alt=""></a>
            
            <a href="courses.html"
              ><img class="img" src="../../../assets/html-demo/desgin/images/iconbarnav/graduacion.png" alt=""><span>Courses</span></a
            >
      
             <a href="complementary.html"
              ><img class="img" src="../../../assets/html-demo/desgin/images/iconbarnav/complementario (1).png" alt=""><span>Complementary</span></a
            >
      
            <a href="precourse.html"
              ><img class="img" src="../../../assets/html-demo/desgin/images/iconbarnav/aprender-en-linea.png" alt=""><span>Precourse</span></a
            >
      
            <a href="mobile.html"
              ><img class="img" src="../../../assets/html-demo/desgin/images/iconbarnav/telefono-inteligente.png" alt=""><span>Mobile Practice</span></a
            >
      
      <a href="vocabulary.html"
              ><img class="img" src="../../../assets/html-demo/desgin/images/iconbarnav/caja-de-herramientas.png" alt=""><span>Vocabulary</span></a
            >
            <a href="../../../assets/html-demo/desgin/library.html"><img style="width: 30px;height: 30px;" src="../../../assets/html-demo/desgin/images/iconbarnav/biblioteca.png" alt=""><span>Library</span></a> 
            <a href="../../../assets/html-demo/desgin/about.html"
            ><img class="img" src="../../../assets/html-demo/desgin/images/iconbarnav/acerca-de.png" alt=""><span>About</span></a
          >
            <a href="contact.html"
              ><img class="img" src="../../../assets/html-demo/desgin/images/iconbarnav/atencion-al-cliente.png" alt=""><span>Contact us</span></a
            >
       
    </div>
</div>


