



<section class="container-sect-1">
  <div class="content-principal-txt-img">
    <a class="content-class-img-txt" href="../../../assets/html-demo/desgin/courses.html">
      <div class="contenedor-learningtools">
      <img src="../../../assets/html-demo/desgin/images/aleph-12.jpg" alt="">
      <h5>Principal Course</h5>
      <p>Aleph Level</p>
    </div>
  </a>

    <a href="../../../assets/html-demo/desgin/vocabulary.html"  class="content-class-img-txt">
      <div class="contenedor-learningtools">
        <img src="../../../assets/html-demo/desgin/images/icon-palabra-hebrew.png" alt="">
        <h5>Vocabulary Builder</h5>
        <p>Learn up to 5000 new words with interactive images</p>
      </div>
    </a>

    <a href="../../../assets/html-demo/desgin/complementary.html" class="content-class-img-txt">
      <div class="contenedor-learningtools">
        <img class="img-grup" src="../../../assets/html-demo/desgin/images/tolerancia.png" alt="" >
        <h5>Useful Extra Courses</h5>
        <p>Working and Social integration courses</p>
      </div>
    </a>

    <a href="../../../assets/html-demo/desgin/precourse.html" class="content-class-img-txt" >
      <div class="contenedor-learningtools">
        <img src="../../../assets/html-demo/desgin/images/img-precourse.png" alt="">
        <h5>Pre Level Course</h5>
        <p>Learn Key Contents Before The Course Start</p>
      </div>
    </a>

    <a href="../../../assets/html-demo/desgin/library.html" class="content-class-img-txt">
      <div class="contenedor-learningtools">
        <img src="../../../assets/html-demo/desgin/images/ebokORG.png" alt="">
        <h5>Interactive Simple eBooks</h5>
        <p>And check comprehension</p>
      </div>
    </a>

    <a href="../../../assets/html-demo/desgin/mobile.html"  class="content-class-img-txt">
      <div class="contenedor-learningtools">
        <img class="img-grup" src="../../../assets/html-demo/desgin/images/gamification.jpg" alt="">
        <h5>Learning Games</h5>
        <p>Gamification (Learn with didactical games)</p>
      </div>
    </a>
  </div>
</section>



<section class="courses">
<h1 class="heading">Our courses</h1>

<div class="box-container">
  <div class="box">
    <div class="tutor">
      <img src="../../../assets/html-demo/desgin/images/pic-2.jpg" alt="" />
      <div class="info">
        <h3>Oliver Reed</h3>
        <span>21-10-2022</span>
      </div>
    </div>
    <div class="thumb">
      <img src="../../../assets/html-demo/desgin/israel.avif" alt="" />
      <span>10 videos</span>
    </div>
    <h3 class="title">Level Aleph</h3>
    <a href="../../../assets/html-demo/desgin/playlist.html" class="inline-btn">view playlist</a>
  </div>
</div>

<div class="more-btn">
  <a href="../../../assets/html-demo/desgin/courses.html" class="inline-option-btn">view all courses</a>
</div>
</section>



<!-- custom js file link  -->
<script src="../../../assets/html-demo/desgin/js/script.js"></script>



    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    
    <!-- custom css file link  -->
    <link rel="stylesheet" href="../../../assets/html-demo/desgin/css/style.css" />
    <link rel="stylesheet" href="../../../assets/html-demo/desgin/css/history.css">


