.whatsapp-float {

    position: fixed;
  
    width: 55px;
  
    height: 55px;
  
    bottom: 120px;
  
    right: 40px;
  
    background-color: #25d366;
  
    color: #fff !important;
  
    border-radius: 50px;
  
    text-align: center;
  
    font-size: 40px;
  
    box-shadow: 2px 2px 3px #000;
  
    z-index: 100;
  
  }
  
  
  
  .float:hover {
  
    color: #000;
  
  }
  
  
  
  .instagram-float {
  
    position: fixed;
  
    width: 60px;
  
    height: 60px;
  
    bottom: 150px;
  
    right: 30px;
  
    background: radial-gradient(
  
      circle at 30% 107%,
  
      #fdf497 0%,
  
      #fdf497 5%,
  
      #fd5949 45%,
  
      #d6249f 60%,
  
      #285aeb 90%
  
    );
  
    color: #fff !important;
  
    border-radius: 50px;
  
    text-align: center;
  
    font-size: 40px;
  
    box-shadow: 2px 2px 3px #000;
  
    z-index: 100;
  
  }
  
  
  
  .float:hover {
  
    color: #000;
  
  }
  
  
  
  .facebook-float {
  
    position: fixed;
  
    width: 60px;
  
    height: 60px;
  
    bottom: 300px;
  
    right: 30px;
  
    background-color: rgb(24, 119, 242);
  
    color: #fff !important;
  
    border-radius: 50px;
  
    text-align: center;
  
    font-size: 40px;
  
    box-shadow: 2px 2px 3px #000;
  
    z-index: 100;
  
  }
  
  
  
  .float:hover {
  
    color: #000;
  
  }
  
  