<section class="container justify-content-center align-content-center align-items-center">
    <div class="row justify-content-center align-items-center ">
      <div class="col-md-4">
        <div class="card zoom-shadow m-5">
          <div class="d-flex">
            <div class="card-img-top bg-primary d-flex text-center justify-content-center align-items-center align-content-center" style="height: 100px;">
              <h5 class="card-title text-white">Content</h5>
            </div>
          </div>
        <div class="card-body text-center">
          <p class="card-text">Microlearning is perfect for acquiring new knowledge.</p>
          <a href="./html/content.html" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card zoom-shadow m-5">
        <div class="d-flex">
          <div class="card-img-top bg-primary d-flex text-center justify-content-center align-items-center align-content-center" style="height: 100px;">
            <h5 class="card-title mb-4 text-white">Concepts</h5>
          </div>
        </div>
        <div class="card-body text-center">
          <p class="card-text mb-4">Reinforce the concepts.</p>
          <a href="./html/concept.html" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card zoom-shadow m-5" style="width: 20rem;">
        <div class="d-flex">
          <div class="card-img-top bg-primary d-flex text-center justify-content-center align-items-center align-content-center" style="height: 100px;">
              <h5 class="card-title text-white">Multiple-choice-question</h5>
          </div>
        </div>
        <div class="card-body text-center">
          <p  class="card-text">Reinforce key concepts by identifying the correct answer from a set of options.</p>
          <a href="./html/multiple-choice-question.html" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div> 
    <div class="col-md-4">
      <div class="card zoom-shadow m-5"  style="width: 20rem;">
        <div class="d-flex">
          <div class="card-img-top bg-primary d-flex text-center justify-content-center align-items-center align-content-center" style="height: 100px;">
            <h5 class="card-title text-white">Not conventional learning tools</h5>
          </div>
        </div>
        <div class="card-body text-center">
          <p class="card-text">Answer questions quickly on any topic to reinforce concepts.</p>
          <a href="./html/games.html" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card zoom-shadow m-5" style="width: 20rem;">
        <div class="d-flex">
          <div class="card-img-top bg-primary d-flex text-center justify-content-center align-items-center align-content-center" style="height: 100px;">
            <h5 class="card-title text-white">Relationships</h5>
          </div>
        </div>
        <div class="card-body text-center">
          <p class="card-text">Strengthen connections between concepts</p>
          <a href="./html/relationships.html" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card zoom-shadow m-5" style="width: 20rem;">
        <div class="d-flex">
          <div class="card-img-top bg-primary d-flex text-center justify-content-center align-items-center align-content-center" style="height: 100px;">
            <h5 class="card-title text-white">Survey</h5>
          </div>
        </div>
        <div class="card-body text-center">
          <p class="card-text">comment on the lessons. rate the content and give suggestions for future lessons.</p>
          <a href="./html/survey.html" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>  
    </div>
  </section>